.container {
    max-width: 290px;
    &__title {
        display: flex;
        margin: 30px 0 0 0;
        font-family: gilroy-semiBold, monospace;
        font-size: 20px;
        line-height: 24px;
    }
    &__text {
        font-size: 20px;
        line-height: 24px;
    }
    &__FormWrapper {
        & fieldset {
            width: 250px;
            margin: 30px 0 0 0;
        }
        &__checkbox {
            display: flex;
            align-items: center;
            margin: 24px 0 32px 0;
            & input {
                display: block;
                margin: 0 10px 0 0;
                min-width: 20px;
                height: 20px;
            }
        }
    }
}
