@import 'src/App/styles/variables';

.title {
    font-size: 5rem;
    margin: 1% 20%;
}

.description {
    font-size: 1.25rem;
    margin: 1% 20%;
    max-width: 42rem;
}

.wrapper_type_course {
    display: flex;
    justify-content: flex-start;
    padding-left: 6%;
    margin-bottom: 32px;
}

.typeCourse {
    display: flex;
    font-size: 7rem;
}

.color {
    color: $turquoise;
}

.star {
    transform: rotate(30deg);
    margin: -10px 20px;
}

.arrowLink {
    display: flex;
    justify-content: flex-end;
    padding: 2% 20%;
}

.list_title {
    font-size: 20px;
    color: $turquoise;
    display: flex;
    flex-direction: column;
    span {
        margin: 1% 17%;
    }
    li {
        font-size: 30px;
        color: $grey;
        padding: 0 30px;
        background: url('../../Shared/img/ornament.svg') no-repeat -5px 5px;
        background-size: 30px;
        &:nth-child(2n + 1) {
            align-self: flex-end;
        }
        &:nth-child(3n + 1) {
            align-self: center;
        }
    }
}

.image {
    margin-bottom: 95px;
}

.wrapper_title_list {
    width: 100%;
}
