@import './src/App/styles/variables';
.wrapper {
    display: flex;
    flex-direction: column;
    width: 55%;
    min-width: 1120px;
    &__title {
        position: relative;
        font-family: gilroy-semiBold, sans-serif;
        font-size: 120px;
        line-height: 147px;
        color: $turquoise;
        &__icon {
            position: absolute;
            top: 38px;
            left: -110px;
        }
    }
    &__text {
        margin: 50px 0 0 0;
        width: 64%;
        font-size: 20px;
        line-height: 22px;
    }
    &__teachersBlock {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 32px;
        margin: 100px 0 32px 0;
        flex-wrap: wrap;
        align-self: center;
    }
    &__teachersBlockHidden {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 32px;
        flex-wrap: wrap;
        align-self: center;
    }
    &__teachersBlockHidden {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 32px;
        align-self: center;
    }
    &__btn {
        margin: 84px 0 0 0;
        align-self: flex-end;
    }
}

.openBlock {
    margin: 50px 0;
}
