@import 'src/App/styles/variables';

.container {
    position: relative;
    margin: 0 16px 20px 16px;
    //width: 300px;
    background: $white;
    border-radius: 20px;
    cursor: pointer;
    &:hover &__photo {
        z-index: 0;
        transform: rotate(-5deg) translateY(-50px);
    }
    &:hover &__wrapper {
        background-color: $turquoise;
        color: #fff;
        transform: rotate(5deg) translateY(120px);
    }
    &__wrapper {
        width: 278px;
        height: 333px;
        padding: 0 1rem;
        border: 1px solid $black;
        border-radius: 20px;
        &__teacherName {
            font-size: 1.25rem;
            text-align: center;
            margin-bottom: 0.5rem;
        }
        &__teacherFaculty {
            font-size: 1.15rem;
            text-align: center;
            margin-bottom: 1rem;
        }
    }
    &__photo {
        position: absolute;
        z-index: -10;
        border-radius: 2rem;
    }
}

.absolute {
}

.hover {
}
