@import 'src/App/styles/variables';

.container {
    width: 300px;
    background: $white;
    border: 1px solid $black;
    border-radius: 20px;
    cursor: pointer;
}

.wrapper {
    width: 300px;
    height: 400px;
}

.absolute {
}

.hover {
}
