@import 'src/App/styles/variables';

.container {
    width: 300px;
    position: relative;
    background: $white;
    border: 1px solid $black;
    border-radius: 20px;
}

.absolute {
    position: absolute;
    z-index: -1;
}

.hover {
    & :hover {
        transform: translateY(100px);
    }
}
