@import './src/App/styles/variables';

.link {
    margin-right: 90px;
    font-family: gilroy-medium;
    font-size: 20px;
    color: $black;

    & :hover {
        color: $turquoise;
    }
}

.dropdown {
    display: none;
    .arrowIcon {
        &:hover {
            display: block;
        }
    }
}
