@import './src/App/styles/variables';

.link {
    margin-right: 110px;

    & :hover {
        color: $turquoise;
    }
}

.dropdown {
    display: none;
    .arrowIcon {
        &:hover {
            display: block;
        }
    }
}
