.costContainer {
    color: #1b1b1b;
    font-size: 20px;
    max-width: 600px;
}

.courseCost {
    font-size: 40px;
    margin-bottom: 10px;
}

.cost {
    font-size: 80px;
}

.installmentProgram {
    margin: 25px 0;
}

.discount {
    font-weight: 700;
}

.inDetail {
    margin-top: 25px;
}
