@import './src/App/styles/variables';
@import '/src/Shared/fonts/fontsSettings';
.layout {
    max-width: 1920px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $appBackground;
    font-family: gilroy-regular, sans-serif;
    color: $black;
    padding: 0 5px;
}
