@import './src/App/styles/variables';

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    min-width: 1120px;
    padding: 0 0 87px 0;
}

.title {
    align-self: flex-start;
    margin: 64px 0 42px 0;
    font-family: gilroy-semiBold;
    font-size: 120px;
    line-height: 120px;
    //text-align: center;
    &__noOne {
        font-family: gilroy-extraBold;
        color: $turquoise;
        & svg {
            margin: -15px 15px;
        }
    }
}
.text {
    //margin: 0 0 200px 0;
    padding: 0 200px 0 0;
    font-family: gilroy-medium;
    font-size: 24px;
    line-height: 24px;
}
.btn {
    margin: 57px 0 0 0;
    padding: 18px 73px;
    font-family: gilroy-semiBold;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    &::after {
        content: '';
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        transform: rotate(5deg);
    }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(-5deg);
    }
    &:hover {
        border: 1px solid $appBackground;
        &:after,
        &:before {
            border: 1px solid $turquoise;
            border-radius: 50px;
        }
    }
}
