.container {
    max-width: 1184px;
}

.title {
    text-align: center;
    font-size: 7.5rem;
}

.subtitle {
    max-width: 47rem;
    text-align: left;
    padding-left: 6rem;
    font-size: 1.25rem;
    margin: 1rem 0 2rem;
}
