body {
    margin: 0;
    font-family: Roboto, monospace, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: MyGreatFont;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Roboto, monospace, sans-serif;
    margin: 0;
    padding: 0;
}
